:root {
  --cl1-m: #f0f0f0;
  --cl2-m: #67e4b0;
  --cl3-m: #1f1f1f;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--cl1-m);
  display: flex;
}
.btn {
  display: none;
  background-color: var(--cl2-m);
  position: absolute;
}
article:nth-child(2) {
  background-color: var(--cl3-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 3rem;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
  }
  > img:last-child {
    width: 2vmax;
    margin: 10px;
    object-fit: cover;
    margin-top: 20vmax;
  }
}
article:nth-child(3) {
  flex: 3;
  background-color: var(--cl1-m);
}
article:nth-child(4) {
  flex: 6;
  background-color: var(--cl1-m);
}
article:nth-child(5) {
  flex: 2;
  background-color: var(--cl1-m);
}
.active {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .btn {
    display: block;
  }
}
